/*     General Settings     */

body {
    text-align: center;
    font-family: Georgia;
    background-color: #EDFEDF;
    background: url("http://s12.postimg.org/ygz8lk3r1/randomquotemachine.jpg");
    background-size: cover; /*
    width: 700px; 
    margin: 50px auto;*/
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/*     Project Title     */

.title {
    font-family: Delius;
    text-align: center;
    font-size: 3em;
    color: #444;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 10px;
    text-transform: uppercase;
    font-weight: normal;
}

.subtitle {
    text-align: left;
    font-family: Georgia;
    font-size: 1.2em;
}

/*    Quote Button     */

.quote-button {
    border-radius: 10px;
    border-width: 2px;
    border-color: #CCC;
    font-size: 18px;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    border: 25px solid darken(#CCC, 80%);
    background: #FFF;
    margin: 20px;
    font-family: Delius, serif;
    font-size: 2em;
}

.quote-button:hover {
    background: #E1DFDF;
    border: 3px outset #CCC;
    transform: scale(1.1);
    transition: 0.2s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}


/*     Quote Box     */

.quote-box {
    text-align: center;
    font-family: Georgia;
    font-size: 1.5em;
    background-color: #999;
    padding: 20px;
    margin: 0 auto;
    width: 700px;
    border-radius: 10px;
    color: #FFF;
    box-shadow: -10px 10px 20px rgba(100, 100, 100, 0.8);
    margin-bottom: 200px;
}

.author {
    font-style: italic;
}


/*     Footer     */

.footer {
    background: #33ADFF no-repeat 50% 50%;
    background-size: cover;
    min-height: 100%;  
    max-width: 100%;
    max-height: auto;
    padding: 5px;
    margin-top: 400px;
    font-size: 1.4em;    
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 100%;
    border-top: 8px #4dd2ff outset;
}

.footer p,
a {
    color: #FFF;
    text-decoration: none;
    padding: 0px;
}

.footer ul li {
    display: inline;
    margin: 5px;
    text-align: center;
}

.footer .fa {
    color: #FFF;
    text-align: center;
    font-size: 1.3em;
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 8px;
    margin: 5px;
    width: 40px;
    height: 40px;
    line-height: 1.4;
}

.footer .fa:hover {
    transition: 0.3s;
    text-shadow: 2px 1px 2px #333;
}

.footer .contact .fa:hover {
    background-color: #e6b800; 
}

.footer .linkedin .fa:hover {
    background-color: #117BB7;
}

.footer .github .fa:hover {
    background-color: #24478f;    
}

.footer .twitter .fa:hover {
    background-color: #007acc;
}

.footer .codepen .fa:hover {
    background-color: #ff6600;
}

.footer .freecodecamp .fa:hover {
    background-color: #009933;
}

.footer p span {
    color:  #ffff66;
}

@media screen and (max-width: 315px) {    
    .footer {
        margin-top: 50px;
    }

    .footer ul {
        padding-top: 10px;
        margin: 0px;
    }
    
    .footer ul li {
        width: 100%;
        margin: auto;
        
    }
    
    .footer .fa {
        font-size: 1.0em;
        padding: 8px;
        margin: 2px;
        width: 25px;
        height: 25px;
        line-height: 1.2;
        display: inline-block;      
    }
}

@media screen and (max-width: 850px) {  
    .footer { 
        margin-top: 150px;
    }
    
    .footer .fa {
        font-size: 1.0em;
        padding: 8px;
        margin: 2px;
        width: 25px;
        height: 25px;
        line-height: 1.2;
        display: inline-block;      
    }    
}