/*     General Settings     */

body {
    text-align: center;
    font-family: Delius;
    background-color: #EDFEDF;
    background: url("http://7-themes.com/data_images/out/46/6926834-four-leaf-clover.jpg") 50% 50%;
    background-size: cover; 
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/*     Project Title     */

.title {
    text-align: center;
    font-size: 4em;
    color: #333300; /* #444 */
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 50px; /*
    text-transform: uppercase; */
    font-weight: normal;
}

.subtitle {
    text-align: center; 
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: -30px;
    color: #000;
}

/*    Quote Button     */

.quote-button {
    font-family: Delius;
    font-size: 2em;
    color: #006600;
    text-transform: uppercase;
    background: #FFF;
    border: 2px solid #006600;
    border-radius: 10px;
    margin: 20px;
}

.quote-button:hover {
    background: #E1DFDF;
    border: 4px solid #006600;
    transform: scale(1.1);
    transition: 0.2s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}


/*     Quote Box     */

.quote-box {
    font-size: 1.5em;
    text-align: center;
    background-color: #191a00;
    opacity: 0.8;
    padding: 20px;
    margin: 0 auto;
    height: 150px;  
    max-width: 70%;
    max-height: auto;
    border-radius: 10px;
    color: #FFF;
    box-shadow: -10px 10px 20px rgba(100, 100, 100, 0.9);
}

.author {
    font-size: 1.3em;
    font-style: italic;
}


/*     Footer     */

.footer {
    background: #333300 no-repeat 50% 50%;
    background-size: cover;
    min-height: 100%;  
    max-width: 100%;
    max-height: auto;
    padding: 5px;
    margin-top: 250px;
    font-size: 1.4em;    
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 100%;
    border-top: 8px #006600 outset;
    font-family: Delius;
}

.footer p,
a {
    color: #FFF;
    text-decoration: none;
    padding: 0px;
}

.footer ul li {
    display: inline;
    margin: 5px;
    text-align: center;
}

.footer .fa {
    color: #FFF;
    text-align: center;
    font-size: 1.3em;
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 8px;
    margin: 5px;
    width: 40px;
    height: 40px;
    line-height: 1.4;
}

.footer .fa:hover {
    transition: 0.3s;
    text-shadow: 2px 1px 2px #333;
}

.footer .contact .fa:hover {
    background-color: #e6b800; 
}

.footer .linkedin .fa:hover {
    background-color: #117BB7;
}

.footer .github .fa:hover {
    background-color: #24478f;    
}

.footer .twitter .fa:hover {
    background-color: #007acc;
}

.footer .codepen .fa:hover {
    background-color: #ff6600;
}

.footer .freecodecamp .fa:hover {
    background-color: #009933;
}

.footer p span {
    color:  #ffff66;
}

@media screen and (max-width: 315px) {
    
    .title {
        font-size: 2.5em;
        line-height: 1;
    }
    
    .footer {
        margin-top: 50px;
    }

    .footer ul {
        padding-top: 10px;
        margin: 0px;
    }
    
    .footer ul li {
        width: 100%;
        margin: auto;
        
    }
    
    .footer .fa {
        font-size: 1.0em;
        padding: 8px;
        margin: 2px;
        width: 25px;
        height: 25px;
        line-height: 1.2;
        display: inline-block;      
    }
}

@media screen and (max-width: 850px) {
    
    .title {
        font-size: 3em;
        line-height: 1;
    }
    
    .subtitle {
        font-size: 1.4em;
        line-height: 1.3;
    }
    
    .footer { 
        margin-top: 150px;
    }
    
    .footer .fa {
        font-size: 1.0em;
        padding: 8px;
        margin: 2px;
        width: 25px;
        height: 25px;
        line-height: 1.2;
        display: inline-block;      
    }    
}