.footer-container {
  flex-shrink: 0;
}

.footer {
  background: #333300;
  border-top: 8px #006600 outset;
  font-size: 1.4em;
}

.footer .footer-note {
  color: #FFF;
  margin: 0;
  padding-bottom: .5em;
}

.footer .footer-note .fa {
  color: #006600;
}

.footer .social-list {
  padding: 0;
  text-decoration: none;
}

.footer .social-list li {
  display: inline;
  margin: 5px;
  text-align: center;
}

.footer .social-list .fa {
  border-radius: 50%;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 1.3em;
  height: 40px;
  line-height: 1.4;
  margin: 5px;
  padding: 8px;
  transition: 0.5s;
  width: 40px;
}

.footer .fa:hover {
  text-shadow: 2px 1px 2px #333;
}

.footer .contact .fa:hover {
  background-color: #e6b800;
}

.footer .linkedin .fa:hover {
  background-color: #117BB7;
}

.footer .github .fa:hover {
  background-color: #24478f;
}

.footer .twitter .fa:hover {
  background-color: #007acc;
}

.footer .codepen .fa:hover {
  background-color: #ff6600;
}

.footer .freecodecamp .fa:hover {
  background-color: #009933;
}

@media (max-width: 768px) {
  .footer .social-list .fa {
    font-size: 1em;
    height: 25px;
    line-height: 1.2;
    margin: 2px;
    padding: 8px;
    width: 25px;
  }
}
