html, body {
  margin: 0;
  width: 100%;
}

body {
  text-align: center;
  font-family: 'Delius', cursive;
  background: url("../images/bg.jpg") 50% 50% no-repeat fixed;
  background-size: cover;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}
