body {
  text-align: center;
  font-family: Delius;
  background-color: #EDFEDF;
  background: url("../images/bg.jpg") 50% 50% no-repeat fixed;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
