.quote-generator-container {
  margin: 0 15px;
  flex: 1 0 auto;
}

.quote-box-container .quote-button {
  background: #FFF;
  border-radius: 10px;
  border: 2px solid #006600;
  bottom: 0;
  color: #006600;
  cursor: pointer;
  display: block;
  font-family: 'Delius', cursive;
  font-size: 1em;
  margin-bottom: 10px;
  position: absolute;
  transition: 0.5s;
}

.quote-box-container .quote-button.new-quote {
  right: .5em;
}

.quote-box-container .quote-button.tweet-quote {
  left: .5em;
}

.quote-box-container .quote-button:hover {
  background: #E1DFDF;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.quote-box-container .quote-box {
  background-color: #191a00;
  border-radius: 10px;
  box-shadow: -10px 10px 20px rgba(100, 100, 100, 0.9);
  color: #FFF;
  font-size: 1.5em;
  min-height: 120px;
  margin: 50px auto;
  max-width: 600px;
  opacity: 0.8;
  padding: 20px 5px 50px 5px;
  position: relative;
}

.quote-box-container .quote-box .author {
  font-size: 0.8em;
  font-style: italic;
}

@media (max-width: 410px) {
  .quote-box-container .quote-button {
    margin: 10px auto;
    position: initial;
  }

  .quote-box-container .quote-box {
    padding: 20px 5px;
  }
}
